body {
      font-family: Arial, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }

    .header {
      background-color: #033d7c;
      color: white;
      padding: 10px;
      font-weight: bold;
    }

    .header span {
      float: right;
    }

    .sub-header {
      background-color: #f63b7d;
      color: white;
      padding: 5px;
      text-align: center;
    }

    .container {
      padding: 15px;
    }

    .button-sem {
      padding: 5px 15px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }

    .button-pink {
      background-color: #d62464;
    }

    .button-green {
      background-color: #23a55a;
    }

    .button-yellow {
      background-color: #ffeb3b;
      color: black;
      border: none;
      padding: 7px 15px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 15px;
    }

    th, td {
      border: 1px solid #999;
      padding: 5px 10px;
      text-align: center;
    }

    th {
      background-color: #eaeaea;
    }

    .gpa-row td {
      font-weight: bold;
    }

    .info-text {
      color: #083f88;
      font-weight: bold;
      margin-top: 10px;
    }
    .back-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 15px;
  float: right;
  margin: 10px;
  cursor: pointer;
}