
    body {
      margin: 0;
      font-family: "Segoe UI", sans-serif;
      background-color: #2A2E87;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-box {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      width: 700px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .header-image {
      width: 100%;
      height: auto;
      display: block;
    }

    .content {
  display: flex;
}

.left-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}


    .left-section a {
      color: #0000FF;
      font-size: 14px;
      text-decoration: none;
      margin: 10px 0;
    }

    .right-section {
      width: 65%;
      padding: 30px 20px;
      text-align: center;
    }

    .avatar {
      width: 65px;
      height: 65px;
      background-color: #4e8dd2;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      margin: 10px auto 20px;
    }

    .input-box {
      position: relative;
      width: 90%;
      margin: 10px auto;
    }

    .input-box input {
      width: 100%;
      padding: 10px 10px 10px 35px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }

    .input-box i {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #aaa;
    }

    button {
      width: 90%;
      padding: 10px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 15px;
      margin-top: 15px;
      cursor: pointer;
    }

    button:hover {
      background: #0056b3;
    }

    .footer {
      background: #ffca28;
      text-align: center;
      padding: 5px;
      font-size: 12px;
    }


 
    }